<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your login OTP is: <%= @user.otp %></h1>
    <blockquote>
      <p>
      Please do not share your OTP with anyone.
      </p>
    </blockquote>
  </body>
</html>
