<h2>Log in</h2>

<%= form_for(@user, url: otp_verification_path) do |f| %>
  <%= f.text_field :otp, autocomplete: "off", placeholder: "Enter OTP", onkeydown: "return (['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : (!isNaN(Number(event.key)) && event.code !== 'Space'))" %>


  <div class="actions" style="margin-top: 10px">
    <%= f.submit "Verify Otp" %>
  </div>
<% end %>

<%= link_to 'Log Out', destroy_user_session_path, method: :delete, data: { turbolinks: false } %>
